.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
  margin-top: 3vh;
  width: 22vw;
}

.formBtn {
  background-image: linear-gradient(#157f84, #0b4042);
  border: none;
  outline: none;
  border-radius: 2vh;
  color: white;
  width: 13vw;
  height: 5.5vh;
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-weight: 600;
  font-size: 2vh;
}

.labels {
  font-size: 1.75vh;
  margin-left: 2vh;
}

.inputs {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  border-radius: 2vh;
  height: 3.5vh;
  width: 20vw;
  padding: 1vh 1vw;
}
