@import "tailwindcss";


.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5vh;
  margin-top: 3vh;
  width: 22vw;
}

.formBtn {
  @apply bg-[linear-gradient(#157f84,#0b4042)] text-white w-[13vw] h-[5.5vh] font-semibold text-[2vh] mt-[5vh] mb-[2vh] rounded-[2vh] border-0 outline-none;
}

.labels {
  font-size: 1.75vh;
  margin-left: 2vh;
}

.inputs {
  background: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  border-radius: 2vh;
  height: 4.5vh;
  width: 22vw;
  padding: 1vh 1vw;
}
