@import "tailwindcss";

.btnContainer {
  @apply w-full flex justify-center;
}

.form {
  @apply flex flex-col justify-center gap-[1.5vh] w-[22vw] mt-[3vh];
}

.formBtn {
  @apply bg-[linear-gradient(#157f84,#0b4042)] text-white w-[13vw] h-[5.5vh] font-semibold text-[2vh] mt-[5vh] mb-[2vh] rounded-[2vh] border-0 outline-none;
}

.labels {
  @apply text-[1.75vh] ml-[2vh];
}

.inputs {
  @apply h-[4.5vh] w-[22vw] px-[1vw] py-[1vh] rounded-[2vh] border-[none] bg-white/50 outline-none;
}

.formLabel {
  @apply text-xl font-bold;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4d2633;
  border-radius: 3px;
}
